{% extends 'layout.html' %}
{% block body %}
<p>Welcome to the homepage. These are the following options available: </p>
<P>Where quotation marks, then replace with input (replacing quotes as well)</P>
<p>Add to-do form - /home/add</p>
<p>Add to-do - /home/add."NAME"."DESCRIPTION"."STATUS"</p>
<p>View to-do's - /home/view</p>
<p>Update to-do - /home/update."ID"."NOTETEXT"</p>
<p>Delete to-do - /home/delete."ID"</p>
<p>Search for item - /home/search."TEXT"</p>
<p>Show statistics - /home/statistics</p>
{% endblock body %}